@page "/"
@using LuceCarterPersonalBlog.Models
@using LuceCarterPersonalBlog.Services
@inject BlogPostService BlogPostService

<PageTitle>Home</PageTitle>


@if (blogPosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var post in blogPosts)
        {
            <li>
                <strong>@post.Title</strong> — @post.Date.ToString("yyyy-MM-dd")
                <p>@post.Excerpt</p>
            </li>
        }
    </ul>
}

@code {
    private IEnumerable<BlogPost> blogPosts;

    protected override async Task OnInitializedAsync()
    {
        blogPosts = await BlogPostService.GetAllBlogPostsAsync();
    }
}
